#b{
    color: rebeccapurple;
    text-align: center;
    font-family: cursive;
    font-style: italic;
}
#HEAD{
    color: blue;
    text-align: center;
    font-family: cursive;
    font-weight: 700;
    text-decoration: underline;
}
.Day6{
    display: grid;
    place-items: center;
    color: rgb(49, 28, 12);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Day8{
    display: grid;
    place-items: center;
    color: cornflowerblue;
}